<summary class="about">
    <p>
        I am an Industrial designer who currently works for <a href="http://www.tractrac.com/" target="_blank">TracTrac</a>, previously <a href="http://www.treenovum.es/" target="_blank"><del>Treenovum</del></a>, as a Ui-Designer and developer. Mainly I develop for  Android, Web and sometimes I do some server apps. Using languages like javascript, node.js, java & HTML.
    </p>
    <p>
         I am a Swede from Stockholm, educated in Melbourne, Australia and Monterrey, Mexico currently residing in Alicante, Spain.
    </p>
</summary>
