<nav class="social">
	{{#get "posts" filter="page:true+slug:social"}}
        {{#foreach posts}}
			<header>
				<h6>{{title}}</h6>
			</header>
            <p>{{content}}</p>
        {{/foreach}}
    {{/get}}
</nav>
