<nav class="social">
    {{#get "pages" slug="social" as |page|}}
        {{#page}}
			<header>
				<h6>{{title}}</h6>
			</header>
            <p>{{content}}</p>
        {{/page}}
    {{/get}}
</nav>
