<nav class="social">
	<header>
		<h6>Connect with me</h6>
	</header>
	<p>
		<a href="http://twitter.com/andreborud" title="@AndreBorud on Twitter">
			<span class="label">Twitter </span>
		</a>
		//
		<a href="http://instagram.com/andreborud" title="André Borud on Instagram">
			<span class="label"> Instagram</span>
		</a>
		<!-- //
		<a href="" title="+AndréBorud on Soundcloud">
			<span class="label"> Soundcloud </span>
		</a> -->
		//
		<a href="https://vimeo.com/andreborud" title="André Borud on Vimeo">
			<span class="label"> Vimeo </span>
		</a>
		//
		<a href="https://github.com/andreborud" title="André Borud on Github">
			<span class="label"> Github </span>
		</a>
		//
		<a href="https://medium.com/@andreborud" title="André Borud on Medium">
			<span class="label"> Medium </span>
		</a>
	</p>
</nav>
