<nav class="social">
    {{#get "posts" slug="social" include="posts" as |post|}}
        {{#post}}
			<header>
				<h6>{{title}}</h6>
			</header>
            <p>{{content}}</p>
        {{/post}}
    {{/get}}
</nav>
