{{!< default}}

{{#post}}

<main class="post-container post-container--single">

    <section class="{{post_class}}">
		<h1 class="post-title">{{{title}}}</h1>
        {{content}}
    </section>

</main>

    {{!-- {{> comments}} --}}
{{/post}}
